<div id="output"></div>

<script>
    var output = document.getElementById("output");

    async function start() {
        const response = await fetch('{{ url_for('stream', namespace=namespace, id=id) }}',
                                     { method: 'GET' });
        const reader = response.body.pipeThrough(new TextDecoderStream()).getReader();

        while (true) {
            const { value, done } = await reader.read();
            output.innerHTML += value.replaceAll('\n', '<br>');
            window.scrollTo(0, document.body.scrollHeight);
            if (done) break;
        }
    }

    start();

    </script>
